---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$header-font:	'Domine','Georgia','TimesNewRoman','Times New Roman',Helvetica,Arial,serif;
$body-font:		'Karla','Helvetica','Arial',sans-serif;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.635;

$spacing-unit:     30px;

$color-1:		#973c5e;
$color-2:		#1D2B53;
$color-3:		#fff357;

$link-color:	#6084c0;
$grey-bg:	#fef2e4;

$grey-color:       #989a9b;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$c1:        #E5E1E6;
$c2:        #FFA5C0;
$c3:        #F6A995;
$c4:        #F2C398;
$c5:        #f2e3f2;

$heading-color:  #373340;
$body-color:     #504766;
$white-color:    $c1;

// Width of the content area

/*
$xs:   		480px;
$sm:        769px;
$md:		1025px;
$lg:		1281px;
$xl:		1441px;
$xxl:       1981px;
*/

$xs:        460px;
$sm:        768px;
$md:        1280px;
$lg:        1440px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin media-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin color-bg($bg-color) {
	position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 4px;
    left: 4px;
    background: $bg-color;
    z-index: -1;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

