
/* COLORS:
****************
	#F9ED69 - header
	#6A2C70 - sub header
	#B83B5E - sub sub header
	#F08A5D - button

***************/
/* PRELOAD
***************/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preload.gif) center no-repeat #fff;
}
.bold {
	font-weight: 700;
}
p {
	margin-bottom: 1em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4 {
	font-family: 'Martel', serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}
.front {
	background: #EFEEF0;
}
.front-container,
.contact-container{
	position: relative;
	top: 2em;
}
@media screen and (min-width: 769px) {
	.front-container,
	.contact-container{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
header {
	position: relative;
	top: 0;
	margin: 0 auto;
}
nav#main-nav {
	display: block;
}
nav#main-nav ul {
	text-align: center;
	padding: 0;
}
nav#main-nav ul li {
	display: inline-block;
	padding: 0.250em;
	margin: 0.250em;
}
nav#main-nav ul li a {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	text-decoration: none;

	padding: 0.250em;
	margin: 0.250em;
}
@media screen and (min-width: 768px) {
	nav#main-nav ul li a {

	}
}

h1#name {
	position: relative;
	font-size: 3.5em;
	line-height: 1.2;
	color: #F08A5D;
	text-align: center;
	margin: 0 auto;

	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}
h2#description {
	position: relative;
	font-size: 1em;
	line-height: 1.6;
	margin: 0 auto;
	margin-bottom: 1em;
	padding-left: 0;
	color: #6A2C70;
	text-align: center;
}
.description {
	display: block;
}
#sub-description p {
	padding: 0 1.250em;
	margin: 0 auto;
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	text-align: center;
}
@media screen and (min-width: 768px) {
	h1#name {
		font-size: 5em;
		line-height: 1.4;
		text-align: left;
	}
	h2#description {
		font-size: 1.50em;
		padding-left: 0.250em;
		border-left: 5px solid #ccc;	
		text-align: left;
	}
	.description {
		display: inline;
	}
	#sub-description p {
		text-align: left;
	}
}
#contact {
	margin: 0 auto;
}
.contact-description {
	text-align: center;
	margin-bottom: 2em;
}
#contact-description {
	padding: 15px;
}
@media screen and (min-width: 768px) {
	.contact-description {
		text-align: left;
	}
}
form#contact-me > label {
	display: block;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
form#contact-me > input,
form#contact-me > textarea {
	display: block;
	width: 90%;
	padding: 0.750em;
	margin: 1em auto;
	border: 1px solid rgba(50,50,50,0.6);
}
form#contact-me > textarea {
	height: 100px;
}
form#contact-me > #form-submit {
	width: 35%;
	margin: 0 auto;
	background: transparent;
	border: 1px solid #aaa;
}