/* Variables */
/*********************************
/* MIXINS */
/*
box-shadow()
	vendor('box-shadow', arguments) */
/*
transition()
	vendor('transition', arguments) */
/*
linear-gradient()
	vendor('linear-gradient', arguments) */
/* General Rules */
html,
body {
  font-size: 16px;
  font-family: 'Lora', 'Georgia', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', 'Georgia', 'Times New Roman', 'TimesNewRoman', serif;
  font-family: 'PT Sans';
  font-weight: 400;
  margin-bottom: 0.5em;
  color: #853553;
  letter-spacing: -0.01em;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 6em;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
  font-weight: 700;
}
h6 {
  font-size: 1.25em;
  font-weight: 700;
  font-style: italic;
}
p {
  font-family: 'Lora';
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 2.5em;
  color: #a04c6c;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  color: #7e94bf;
}
img {
  max-width: 100%;
}
figure {
  position: relative;
  margin: 2em auto;
  padding: 1em;
  text-align: center;
}
figure img {
  width: 100%;
}
figure figcaption {
  font-size: 0.75em;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  color: #767676;
}
figure::before,
figure::after {
  content: '';
  clear: both;
}
/*
figure.floatLeft,
figure.floatRight
	max-width 350px
*/
article {
  padding-top: 2em;
  padding-bottom: 2em;
}
article section.full {
  margin-left: calc(-50vw + 50% + 8px);
  margin-right: calc(-50vw + 50% + 10px);
  background: #973c5e;
  background-position: center;
  background-size: cover;
}
article,
.width-1000 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
article h1,
.width-1000 h1 {
  color: #fff357;
  text-shadow: 1px 0px 1px rgba(0,0,0,0.35);
}
article h2,
.width-1000 h2,
article h3,
.width-1000 h3,
article h4,
.width-1000 h4,
article h5,
.width-1000 h5,
article h6,
.width-1000 h6,
article p,
.width-1000 p,
article pre,
.width-1000 pre {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
article pre,
.width-1000 pre {
  max-height: 500px;
  overflow: auto;
}
@media screen and (min-width: 48em) {
  html,
  body {
    font-size: 18px;
  }
  figure {
    margin: 0 auto;
  }
  figure.floatCenter {
    max-width: 700px;
  }
  p {
    font-size: 1.05em;
    line-height: 1.735;
  }
}
/* General CLASS */
.main_container {
  padding: 0 0.5em;
}
.floatRight {
  float: none;
}
.floatLeft {
  float: none;
}
.blockQuote {
  margin: 2em 0 1.5em 0;
  font-style: italic;
}
.height-100 {
  height: 100vh;
}
.width-700 {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.border {
  padding: 0.25em;
  border: 1px solid #303030;
}
@media screen and (min-width: 48em) {
  .main_container {
    padding: 0;
  }
  .floatRight {
    float: right;
  }
  .floatLeft {
    float: left;
  }
}
/* Main Style */
.main_container {
  max-width: 1000px;
  margin: 0 auto;
}
.main_splash {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
/*
	&::before
		absolute()
		background linear-gradient( 92deg, alpha($c1,0.35), alpha($c2,0.35) )
		z-index 1
	*/
}
.main_splash header {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 5%;
  right: 0;
  text-align: left;
  z-index: 100;
/*
		#main-nav
			display block
			width auto
			margin 0 auto
			ul
				font-family $body-font
				text-align center
				li					
					display inline-block
					border-radius 50%
					transition all 0.7s ease-in-out
					box-shadow 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21)
					animation Floating 4s infinite ease-in-out
					&:not(:last-child)
						margin-right 1em
					&:nth-child(1)
						animation-duration 5.75s
						a
							background #973c5e
							span
								left 85%
					&:nth-child(2)
						a
							background #1D2B53
							span
								left 115%
					&:nth-child(3)
						animation-duration 6.5s
						a
							background #FFF024
							span
								left 110%
					&:hover
						a
							span
								opacity 1
								visibility visible
								transform translate(-50%,-50%) scale(1)
					a
						display block
						position relative
						padding 0.80em 1.100em
						text-decoration none
						border-radius 50%
						color $white
						text-shadow 2px 2px 3px rgba(0,0,0,0.60)
						z-index 150
						span
							position absolute
							top 50%
							left 0
							visibility hidden
							opacity 1
							transition all 0.15s ease-in-out
		*/
}
.main_splash header #main_nav ul {
  list-style: none;
}
.main_splash header #main_nav ul li {
  margin-bottom: 0.5em;
}
.main_splash header #main_nav ul li a {
  font-size: 1.5em;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fbb;
  transition: all 0.3s cubic-bezier(0.07, 0.76, 0.87, 0.57);
}
.main_splash header #main_nav ul li a:hover {
  color: #6084c0;
}
.main_splash #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(135deg, transparent, #f2f2f2);
  background: transparent;
  -webkit-transform: translateZ(0);
  ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.main_splash .main_splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
  -moz-transform: translate(-50%, -50%) scale(2);
  -ms-transform: translate(-50%, -50%) scale(2);
  transform: translate(-50%, -50%) scale(2);
  -moz-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(2);
  zoom: 0.5;
  text-align: center;
  z-index: 1000;
}
.main_splash .main_splash_text h1,
.main_splash .main_splash_text h2 {
  font-family: 'Lora', 'Georgia', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  letter-spacing: 2px;
}
.main_splash .main_splash_text h1 {
  display: inline-block;
  font-size: 3em;
  color: #853553;
  -moz-background: transparent;
  background: #973c5e;
  background: -webkit-linear-gradient(92deg, #973c5e, #1d2b53);
  background: -moz-linear-gradient(92deg, transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.08), 2px 2px 1px rgba(0,0,0,0.075), 4px 4px 1px rgba(0,0,0,0.07), 6px 6px 1px rgba(0,0,0,0.065), 8px 8px 1px rgba(0,0,0,0.06), 10px 10px 1px rgba(0,0,0,0.055), 12px 12px 1px rgba(0,0,0,0.05), 14px 14px 1px rgba(0,0,0,0.045), 16px 16px 1px rgba(0,0,0,0.04), 18px 18px 1px rgba(0,0,0,0.035), 20px 20px 1px rgba(0,0,0,0.03), 22px 22px 1px rgba(0,0,0,0.025), 24px 24px 1px rgba(0,0,0,0.02), 26px 26px 1px rgba(0,0,0,0.015), 28px 28px 1px rgba(0,0,0,0.01), 30px 30px 1px rgba(0,0,0,0.005), 32px 32px 1px rgba(0,0,0,0.003), 34px 34px 1px rgba(0,0,0,0.002), 36px 36px 1px rgba(0,0,0,0.002), 38px 38px 1px rgba(0,0,0,0.001);
}
.main_splash .main_splash_text h2 {
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 0;
  color: #fbb;
  font-variant: small-caps;
}
.main_splash .main_splash_text::before {
  position: absolute;
  content: "Hi, I'm";
  top: -25%;
  left: 0%;
  color: #fbb;
}
@media screen and (min-width: 48em) {
  .main_splash {
    height: 100vh;
  }
  .main_splash .main_splash_text h1 {
    font-size: 3em;
  }
  .main_splash .main_splash_text h2 {
    font-size: 1.5em;
  }
  .main_splash .main_splash_text::before {
    left: 5%;
  }
}
@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
@-o-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
.clearfix {
  clear: both;
}
.white-text {
  color: #f2f2f2;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
.third {
  width: 33.33%;
}
.fourth {
  width: 25%;
}
@-moz-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
@-o-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
@keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
