
/* COLORS:
****************
	#F9ED69 - header
	#6A2C70 - sub header
	#B83B5E - sub sub header
	#F08A5D - button

***************/
.bold {
	font-weight: 700;
}
p {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4 {
	font-family: 'Martel',sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1#name {
	position: relative;
	font-size: 5em;
	line-height: 1.2;
	color: #F08A5D;
}
h2#description {
	position: relative;
	line-height: 1.6;
	padding-left: 1.250em;
	margin-bottom: 1em;
	color: #6A2C70;
}
h2#description::before {
	position: absolute;
	content: '';
	left: 15px;
	top: 0;
	bottom: 0;
	width: 0.250em;
	height: 100%;
	background: #ccc;
}
#sub-description p {
	padding: 0 1.250em;
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
}
section {
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}
.front {
	background: #EFEEF0;
}
.front-container,
.contact-container{
	position: relative;
	top: 25%;
	transform: translateY(-25%);
}
@media screen and (min-width: 769px) {
	.front-container,
	.contact-container{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
#contact {
	margin: 0 auto;
}
.contact-description {
	padding: 1em;
	text-align: left;
}
form#contact-me > label {
	display: block;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
form#contact-me > input,
form#contact-me > textarea {
	display: block;
	width: 90%;
	padding: 0.750em;
	margin: 1em auto;
	border: 1px solid rgba(50,50,50,0.6);
}
form#contact-me > textarea {
	height: 100px;
}
form#contact-me > #form-submit {
	width: 35%;
	margin: 0 auto;
	background: transparent;
	border: 1px solid #aaa;
}