---

title: Basic Web Typography
css: /css/typography.css
description: An interactive guide for basic web typography.
---
{% include head.html %}

<body>
	<div class="wrapper">
	  {% include page_header.html %}
		<div class="bg__image"></div>
		<div class="container">
			
			<button class="btn button"></button>
			
			<header class="titleSection"> 
				<h1 class="titleSection__title">Basic Web Typography</h1>
				<span class="titleSection__author">by <a href="https://billcastillo.me">Bill Castillo</a></span>
			</header>
			
			<article>
			<section class="sectionGuide zero">
			<h2>Introduction</h2>
			<p>Hello. This article will introduce you on the basic guidelines of web typography. A collection of simple concepts that only takes a few lines of <code>CSS</code> to implement. Please note that this is just a guide to help you achieve better readability and not to be taken religiously. Feel free to implement your own idea if you'd like to showcase a unique look or for just fun experimentation.</p>
			<p>
			To help you understand the difference, this page will serve as a interactive demo while we go each through of the guides.</p>

			<p>Before we start, let's move a bit from the browser's edge, shall we?</p>

			<p class="highlight">Click the button at the <em>bottom right</em> of the page to implement style guides on this page.</p>
			</section>

			<button class="btn btn-next">Next</button>

			<section class="sectionGuide first">
			<h2>Visual Heirarchy</h2>
			<p>Implementing a proper structure heirarchy on your page will already show a significant impact on its readability. This will show what needs to be emphasized; and to guide users on the overall composition of the page.</p>

			<p>In order to do this, let's break down the containing elements:</p>

			<ul>
				<li>Header</li>
				<li>Paragraphs</li>
				<li>Images</li>
				<li>Lists</li>
				<li>Quotes / Blockquotes</li>
				<li>Etc.</li>
			</ul>
			
			<h3>Headers</h3>
			<p><code>Headers</code> or <code>headings</code> are the most important part an article. A sub-heading, just like a paragraph, are used to seperate different ideas, and subsections of the same topic. The HTML nodes from <code>h1</code> to <code>h6</code> should be used for the relevant contexts.</p>

<pre>
	<code>
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>
  </code>
</pre>

			<p>Using <code>CSS</code>, you can implement different <code>font-size</code> for each node. Using ratio of 1.4, I was able to have a modular scale for my headers.</p>

<pre>
	<code>
	h1 { font-size: 5.378em; }
	h2 { font-size: 3.842em; }
	h3 { font-size: 2.744em; }
	h4 { font-size: 1.96em; }
	h5 { font-size: 1.40em; }
	h6 { font-size: 1.00em; }
	</code>
</pre>

			<h4>Relevant Links:</h4>
			<ul>
				<li><b><a href="http://type-scale.com/">A Visual Type Scale</a></b></li>
				<li><b><a href="modularscale.com">Modular Scale</a></b></li>
			</ul>
			
			<p>Headers also serves as a guide for Google, Yahoo, Bing, and other search engines to read or <code>crawl</code> your website to analyze its content and  rank it according to relevance. So, if you'd like an additional <code>SEO</code> boosts, I insist you use the proper HTML5 semantics.</p>

			<h3>Paragraph</h3>
			<p><code>Paragraphs</code> should be short and sweet. Make it approachable and easily digestible. The <code>line-height</code> and <code>margin-bottom</code> property will provide breathing room and space for your paragraphs. Setting the line-height value of at least 1.4 should be enough (this should scale-up depending on your font-size). </p>

<pre>
	<code class="css">
	p {
	  font-size: 1em; // 16px
	  line-height: 1.4;
	  margin-bottom: 1.4em;
	}
	</code>
</pre>

			<img src="{{ site.baseurl }}/img/typography/paragraph.jpg" alt="Paragraph">
			
			<h4>Relevant Links</h4>
			<ul>
				<li><b><a href="https://betterwebtype.com/triangle">The Perfect paragraph (interactive game)</a></b></li>
				<li><b><a href="https://www.gridlover.net/try">Gridlover (Gridline typography generator)</a></b></li>
				<li><b><a href="https://sassline.com/">Sassline (mixins for gridline typography) by jakegiltsoff</a></b></li>
				<li><b><a href="https://zellwk.com/blog/why-vertical-rhythms/">Vertical Rhythm Guideline by Zell</a></b></li>
			</ul>

			</section>

			<button class="btn btn-next">Next</button>

			<section class="sectionGuide second">
				<h2>Containers</h2>
				<p>A proper composure for your page layout also plays an important role for readability. Keeping the <code>container</code> to an optimal length that should ease the eye movements of the reader.</p>
				<ul>
					<li><b>Too wide</b> - if the line is too long, the reader will have a hard time focusing on the text.</li> 
					<li><b>Too short</b> - a short line could break the reader's rhythm and might even cause stress.</li>
				</ul>
				<p>One pointer is to keep it between 50―70 characters per line. So, using the most common font-sizes of 16―22 pixels, you might end up between 500―750 pixels.</p>

				<p>If you're on mobile though, the width will stay at 100%.</p>
			</section>

			<button class="btn btn-next">Next</button>
			
			<section class="sectionGuide third">
				<h2>Fonts &amp; Colors</h2>

				<h3>Fonts</h3>
				<p>An optional but highly recommended part of typography. This is where you get creative, express, and implement your own style. Using certain fonts can set the mood and tone of your text. Usually, it is adviced that you only use a variety of 3 or less fonts. Too many might add confusion and clutter your reader's visual perception. More fonts would also rack-up the loading time of your page.</p>

				<img src="{{ site.baseurl }}/img/projects/enigma-salon/enigma-fonts.png" alt="Fonts Combination">

				<p>This demo used <em>Droid Sans</em>―<code>serif</code> font and <em>Merriweather Sans</em>―<code>sans-serif</code> font.</p>
				<p>You are free to select your own combinations or pair. See and feel which fonts would create a perfect harmony.</p>

				<h4>Relevant Links</h4>
				<ul>
					<li><b><a href="fonts.google.com">
					Google Fonts
					</a></b></li>
					<li><b><a href="http://brick.im/fonts/">
					Brick Fonts
					</a></b></li>
					<li><b><a href="http://dotcolon.net/">
					Dotcolon
					</a></b></li>
					<li><b><a href="https://www.prototypo.io/">
					Create your own font
					</a></b></li>
					<li><b><a href="http://typography.supply/">
					An Inventory Of Typography Tools
					</a></b></li>
					<li><b><a href="https://medium.com/rareview/typography-on-the-web-4cd494d6b165">
					Sans vs Sans-serif
					</a></b></li>
					<li><b><a href="https://www.zachleat.com/web/comprehensive-webfonts/">
					A Comprehensive Guide on Loading Fonts
					</a></b></li>
					<h5>CSS Font Style Generators</h5>
					<li><b><a href="https://beta.typenugget.com/">
					Typenugget
					</a></b></li>
					<li><b><a href="https://typeanything.io/">
					Typeanything
					</a></b></li>
					<li><b><a href="http://fontfling.com/">
					Find your font
					</a></b></li>
					<h5>Font Inspirations</h5>
					<li><b><a href="http://100daysoffonts.com/">
					100 Days of Fonts
					</a></b></li>
					<li><b><a href="http://tobiasahlin.com/typesource/">
					Google Web Fonts Inspirations
					</a></b></li>
					<li><b><a href="http://fontflame.com">
					FontFlame - A Tinder-like app for fonts
					</a></b></li>
					<li><b><a href="http://typespiration.com/">
					Typespiration
					</a></b></li>
					<li><b><a href="https://typ.io/">
					Fonts That Go Together
					</a></b></li>
				</ul>
				
				<h3>Colors</h3>
				<p>You might not notice the difference in color when you clicked that button but I assure you even just a little, I did a small relief on your eyes by optimizing the contrast between the <code>font-color</code> and the <code>background-color</code>.</p>
				
				<p>Instead of using pure black <code>#000000</code>, I've added a bit of grey to the body by using <code>#363636</code> for the paragraph and <code>#202020</code> for the headers.</p>

				<img src="{{ site.baseurl }}/img/typography/greycolors.png" alt="Grey Colors">

				<p>And that's the basic guideline of readability - a readable contrast. However, you can use any color of your preference on your article. Should it be your theme, custom color palette or just any color that fits your style. <em>As long as it has a proper contrast ratio.</em> Enough to be readable.</p>
				
				<h4>Relevant Links:</h4>
				<ul>
					<li><b><a href="http://contrastchecker.com/">
					Contrast Checker
					</a></b></li>
					<li><b><a href="https://material.io/guidelines/style/color.html#color-color-palette">
					Google Material Color Guideline
					</a></b></li>
					<h5>Color Palette Generators</h5>
					<li><b><a href="http://colorcubo.xyz/">
					ColorCubo
					</a></b></li>
					<li><b><a href="https://color.adobe.com/">
					Adobe Color Palette Generator
					</a></b></li>
					<li><b><a href="colorhunt.co">
					Colorhunt
					</a></b></li>
					<li><b><a href="http://colorsupplyyy.com/app/">
					Colorsuplyyy
					</a></b></li>
					<li><b><a href="http://www.palettable.io">
					Palettable
					</a></b></li>
					<li><b><a href="https://color.hailpixel.com">
					Colordot
					</a></b></li>
					<li><b><a href="https://www.impalette.com/">
					Impalette (Palette generator from photos)
					</a></b></li>
					<li><b><a href="http://jxnblk.com/hello-color">
					Hello Color (Contrast safe color pairs)
					</a></b></li>
					<h5>Color Inspirations</h5>
					<li><b><a href="colorhexa.com">
					Colorhexa - Comprehensive Color Information
					</a></b></li>
					<li><b><a href="http://www.colorion.co/">
					Colorion
					</a></b></li>
					<li><b><a href="http://www.colorlisa.com/">
					Color Lisa
					</a></b></li>
					<li><b><a href="http://flatcolors.net/">
					Flat Colors
					</a></b></li>
					<li><b><a href="http://colorcrush.cc/">
					Color Crush
					</a></b></li>
					<li><b><a href="http://www.vanschneider.com/colors/">
					Color Claim by Tobias van Schneider
					</a></b></li>
					<h5>More Color Guides</h5>
					<li><b><a href="https://medium.freecodecamp.com/designing-in-color-abd358660a7b">
					Designing in Color by Jonathan Z. White
					</a></b></li>
					<li><b><a href="https://medium.com/help-scout/the-psychology-of-color-in-marketing-and-branding-ebb2320a2b0#.zbzc5pijg">
					The Psychology of Color in Marketing and Branding by Gregory Ciotti
					</a></b></li>
				</ul>

			</section>

			<button class="btn btn-next">Next</button>

			<section class="sectionGuide fourth">
				<h2>Details</h2>

				<p>Adding tasty details might not be your thing but it is a welcome one. These mini-snippets on your CSS can define your style and uniqueness to your blog and/or article. A simple underline, or a border can add even more emphasis to your message.</p>
				<p>To be continued... </p>
				
				<h4>Relevant Links:</h4>
				<ul>
					<li><b><a href="typographyhandbook.com">
						Typography Handbook
					</a> -- This is all you need tbh dump everything else.</b></li>
					<li><b><a href="https://ia.net/topics/">
					Web Design is 95% Typography
					</a></b></li>
					<li><b><a href="http://www.adrenalinmedia.com.au/blog/january-2016/this-changes-everything-css-%E2%80%98fluid-properties%E2%80%99">
					Fluid Typography using CSS
					</a></b></li>
					<li><b><a href="https://medium.com/@andreacrofts/web-typography-101-302af8a65be7">
					Also a basic web typography guide
					</a></b></li>
					<li><b><a href="https://medium.com/@jxnblk/mathematical-web-typography-d69186780a41">
					Mathematics of Web Typoghraphy
					</a></b></li>
				</ul>

			</section>
			</article>

		</div><!-- end container -->
	</div> <!-- end wrapper -->
	{% include script_typography.html %}

</body>
</html>