<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@castlenibill">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:creator" content="@castlenibill">
	<meta name="twitter:image" content="https:/billcastillo.me/img/meta/meta_twitter_image.jpg">
	<meta name="twitter:image:width" content="800">
  	<meta name="twitter:image:height" content="800">

	<meta name="author" content="Bill Castillo">
  	<meta property="og:title" content="Bill Castillo" />
  	<meta property="og:type" content="website" />
  	<meta property="og:description" content="{{ page.description }}" />
  	<meta property="og:site_name" content="Bill Castillo" />
  	<meta property="og:image" content="https://billcastillo.me/img/meta/meta_image.jpg" />
  	<meta name="description" content="{{ page.description }}">

  	<script type='application/ld+json'> 
	{
	  "@context": "http://www.schema.org",
	  "@type": "person",
	  "name": "Bill Castillo",
	  "jobTitle": "Front-end Designer / Web Developer / UI / UX / Web Designer",
	  "url": "https://billcastillo.me/",
	  "logo": "https://billcastillo.me/img/meta/casbie-logo.png",
	  "image": "https://billcastillo.me/img/meta/meta_image.jpg",
	  "description": "{{ page.description }}",
	  "address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Manila",
	    "addressCountry": "Philippines"
	  },
	  "email": "castillobil@gmail.com"
	}
 	</script>

  	<link rel="canonical" href="https://billcastillo.me/">
  	

	<link rel="stylesheet" href="{{ page.css | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<meta name="theme-color" content="#FFA5C0">

	<!-- fonts -->
	<script type="text/javascript">
	WebFontConfig = {
	google: { families: [ 'Domine:400,700:latin',
	'Karla:400,400italic,700:latin' ] }
	};
	(function() {
	var wf = document.createElement('script');
	wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	wf.type = 'text/javascript';
	wf.async = 'true';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(wf, s);
	})();
	</script>

	<noscript>
	  <link href="https://fonts.googleapis.com/css?family=Domine:400,700Karla:400,400i,700" rel="stylesheet">
	</noscript>
	
	<style>
		#pageHeader {
		    width: 100%;
		    background: #FFA5C0;
		}

		#pageHeader ul {
		    list-style: none;
		    display: block;
		    margin: 0;
		    padding: 15px;
		    width: 100%;
		    text-align: right;
		}

		#pageHeader li { display: inline-block; }
		#pageHeader li:not(:last-child) { margin-right: 15px; }
		#pageHeader li a {
			text-decoration: none;
			color: #373340;
			font-size: 14px;
		}
	</style>

	<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-66058302-1','auto');ga('send','pageview');
 	</script>
</head>