
<!-- <script src="js/script_index.js"></script> -->
{% include script_jquery.html %}
<script src="js/trmix.min.js"></script>
<script src="js/tilt.min.js"></script>
<script>
	$(function() {
		$('a[href*="#"]:not([href="#"])').click(function() {
		  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		    var target = $(this.hash);
		    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		    if (target.length) {
		      $('html, body').animate({
		        scrollTop: target.offset().top
		      }, 1000);
		      return false;
		    }
		  }
		});
	});

	$(window).bind("load", function() {
		// $( '.overlay' ).toggleClass('visible');
	});

	$(document).ready(function() {
		// Get screen height
		
		var winHeight = $(window).height();
		var winWidth = $(window).width();

		// 
		const tilt = $('.js-tilt').tilt();

		if( (winWidth + 17) > 768 ) {
			$('.indexProjects__box').addClass('js-tilt');
			$('.indexCircle__container').addClass('js-tilt');
			$('.js-tilt').tilt({
	  		maxTilt:        7.5,
	  		perspective:    500,
	  		glare: 					false,
	  		reset: 					true,
	  		speed: 					500,
	  	});
		}
		else {
			$('.js-tilt').removeClass('js-tilt');
			tilt.tilt.destroy.call(tilt);
		}
    
    $('.indexSplash__header').css('height', winHeight / 2);
    $('#indexDescription').css('height', winHeight);

  	}); // end document.ready
		

</script>
<!-- <script src="js/particle.js"></script> -->