
<!-- <script src="js/script_index.js"></script> -->
{% include script_jquery.html %}
<script src="js/trmix.min.js"></script>
<script src="js/tilt.min.js"></script>
<script>
	$(function() {
		$('a[href*="#"]:not([href="#"])').click(function() {
		  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		    var target = $(this.hash);
		    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		    if (target.length) {
		      $('html, body').animate({
		        scrollTop: target.offset().top
		      }, 1000);
		      return false;
		    }
		  }
		});
	});


	$(document).ready(function() {
	
  	$('.js-tilt').tilt({
  		maxTilt:        7.5,
  		perspective:    500,
  		glare: 					false,
  		reset: 					true,
  		speed: 					500,
  	});

    var winHeight = $(window).height() / 2;
    $('.indexSplash__header').css('height', winHeight);
    $('#indexDescription').css('height', winHeight * 2);

  	}); // end document.ready
		

</script>
<!-- <script src="js/particle.js"></script> -->