

.btn {
    padding: 10px 15px;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
    font-weight: 400;
    color: $body-color;
    text-align: center;
    transition: box-shadow 0.2s ease;
    @extend .shadow-1;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $body-color;
        @extend .shadow-2;
    }
}

.btn-white { background: white; }
.btn-yellow { background: #fcfca4; }

.txt-white { color: $white-color; }

.a-noStyle {
    color: $body-color;
    &:hover { text-decoration: none; }
}

/*------------------------------------*\
  #INDEX-PAGE
\*------------------------------------*/

.gradient {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: linear-gradient(0deg,#fff,#f2f2f2);
    z-index: -1;
}

.indexMainSplash {
    position: relative;
    height: 80vh;
    overflow: hidden;
    // background url('../img/me.svg')
    // background-size: cover;
    // background-position: center center;
    text-align: right;
    // padding: 160px 0;
}

#particles-js {
    position: absolute;
    display: block;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    background: transparent;
    background: linear-gradient(0deg, transparent, #f2f2f2);
    -webkit-transform: translateZ(0);
    ms-transform: translateZ(0);
    transform: translateZ(0); // increase animation performance
}

.indexMainSplash__heading {
    position: absolute;
    font-family: $body-font;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    text-align: center;
    z-index: 100;
    &::before {
        position: absolute;
        content: "Hi, I'm";
        top: -15px;
        left: 0;
        color: $grey-color;
        font-size: calc( 0.850em + 0.50vw );
    }
    h1 {
        display: inline-block;
        font-family: $header-font;
        font-size: calc( 3em + 2.50vw );
        font-weight: 400;
        color: #e6b0bb;
        white-space: nowrap;
        letter-spacing: -2px;

        margin: 0;
        // -moz-background: transparent;
        background: -webkit-linear-gradient( 92deg, #f6a995, #e6b0bb );
        // background: -moz-linear-gradient( 92deg, transparent, transparent );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08), 2px 2px 1px rgba(0, 0, 0, 0.075), 4px 4px 1px rgba(0, 0, 0, 0.07), 6px 6px 1px rgba(0, 0, 0, 0.065), 8px 8px 1px rgba(0, 0, 0, 0.06), 10px 10px 1px rgba(0, 0, 0, 0.055), 12px 12px 1px rgba(0, 0, 0, 0.05), 14px 14px 1px rgba(0, 0, 0, 0.045), 16px 16px 1px rgba(0, 0, 0, 0.04), 18px 18px 1px rgba(0, 0, 0, 0.035), 20px 20px 1px rgba(0, 0, 0, 0.03), 22px 22px 1px rgba(0, 0, 0, 0.025), 24px 24px 1px rgba(0, 0, 0, 0.02), 26px 26px 1px rgba(0, 0, 0, 0.015), 28px 28px 1px rgba(0, 0, 0, 0.01), 30px 30px 1px rgba(0, 0, 0, 0.005), 32px 32px 1px rgba(0, 0, 0, 0.0025), 34px 34px 1px rgba(0, 0, 0, 0.002), 36px 36px 1px rgba(0, 0, 0, 0.0015), 38px 38px 1px rgba(0, 0, 0, 0.001);
    }
    h2 {
        font-family: $body-font;
        font-size: calc( 0.850em + 0.50vw );
        font-weight: 400;
        color: $grey-color;
        line-height: 1.635;
        margin: 0;
    }
}

@include media-min($sm) {
    .index__text {
        h1 {
            font-size: calc( 4em + 2vw );
        }
    }
}


/*------------------------------------*\
  NEW LAYOUT
\*------------------------------------*/

header {
    position: absolute;
    width: 100%;
    padding: $spacing-unit 0;
    z-index: 10;
    .headerLogo {
        text-align: left;
        img {
            max-width: 80px;
        }
    }
    .mainNav {
        text-align: center;
        z-index: 15;
    }
    .mainNav__ul {
        list-style: none;
        margin-bottom: 0;
        z-index: 20;
        .mainNav__li {
            display: inline-block;
            transition: box-shadow 0.15s cubic-bezier(.17,.67,.83,.67);
            &:not(:last-child) { margin-right: $spacing-unit * 2; }
            .mainNav__li--title {
                display: block;
                padding-top: 5px;
                text-align: center;
                font-size: 1.250em;
                font-weight: 700;
                text-transform: lowercase;
                font-variant: small-caps;
                color: $heading-color;
            }
            // &:nth-child(1) { .mainNav__li--img { background: $c1; }}
            // &:nth-child(2) { .mainNav__li--img { background: $c2; }}
            // &:nth-child(3) { .mainNav__li--img { background: $c3; }}
            .mainNav__li--img {
                position: relative;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                img {
                    width: 25px;
                    height: 25px;
                    padding: 10px;
                }

            }
            &:hover {
                .mainNav__li--img {
                    @extend .shadow-1-5;
                }
            }
        }
    }
}

.indexDescription__heading {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding: 80px 0;

    background: url('../img/flowers-slant.png');
    background-size: auto 120%;
    background-position: center center;
    background-repeat: no-repeat;
}

.indexDescription__heading--h3 {
    position: relative;
    font-family: $body-font;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@include media-min($sm) {
    header {
        padding: $spacing-unit 0;
        .mainNav { text-align: right; }   
    }
    .indexDescription__heading { padding: 160px 0; }
}

/************************************
 * INDEX PROJECTS
 ************************************/

.indexProjects { padding-top: 80px; }


@include media-min($sm) {
    .indexProjects { padding-top: 160px; }
}

/************************************
 * INDEX PROFILE
 ************************************/

.indexProfile {
    padding-top: 60px;
    text-align: center;
}

.indexProfile__left { display: none; }
.indexProfile__container { padding: 0; }

.indexProfile__links {
    position: relative;
    height: 200%;
}

.indexProfile__box--container {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @extend .shadow-1;
    transition: box-shadow 0.15s cubic-bezier(.17,.67,.83,.67);
    &:hover {
        @extend .shadow-2;
    }
}

.indexProfile__box--codepen {
    background: linear-gradient(135deg, $c3,$c4);
}

.indexProfile__box--github {
    background: linear-gradient(135deg, $c1,$c2);
}

.indexProfile__box--soundcloud {
    background: linear-gradient(135deg, $heading-color,$body-color);
}

.indexProfile__box--content {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    img {
        width: 35px;
        height: 35px;
    }
}

.indexProfile__box--name {
    display: block;
}

@include media-min($sm) {
    .indexProfile {
        padding-top: 120px;
        text-align: left;
    }
    .indexProfile__left {
        display: block;
    }
    .indexProfile__box--container {
        width: 150px;
        height: 150px;
    }
    .indexProfile__box--content {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

/*------------------------------------*\
  #PROJECT-PAGE
\*------------------------------------*/

.projectsSection {
    width: 100%;
    max-width: 737px;
    margin: 0 auto;
    padding-top: 60px;
}

.projectsImage {
    width: 100%;
    img {
        width: 100%;
        margin: $spacing-unit * 2 0 $spacing-unit 0;
    }
}

.projectsSplash {
    padding: 160px 0 0 0;
}

.projectsSplashContainer {
    position: relative;
    width: 100%;
}

.projecsTitle {
    position: absolute;
    top: -5%;
    left: 0;
    z-index: 1;
    h2 {
        font-size: calc( 1.50em + 3.50vw );
        font-weight: 900;
        text-transform: uppercase;
        // letter-spacing: 2px;
        padding: 10px 15px;
        margin: 0 0 15px 0;
        color: white;
        &:nth-child(1),
        &:nth-child(2) { background: rgba($c3, 0.75); }
        &:nth-child(3) { background: rgba($c2, 0.75); }
    }
}

.projectsHeroImageContainer {
    position: relative;
    width: 80%;
    left: 10%;
    padding-bottom: 40px;
}

.projectsHeroImage img { width: 100%; }

.projectsOverviewContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    top: 100%;
    left: 0;
    // right: -10%;
    padding: $spacing-unit 0;
    background: white;
}

.projectsOverview {
    position: relative;
    &--btn {
        z-index: 10;
    }
}

@include media-min($sm) {
    .projectsSection {
        padding-top: 60px;
    }
    .projectsSplash {
        padding: 160px 0 240px 0;
    }
    .projectsSplashContainer {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .projecsTitle {
        top: -5%;
        left: -10%;
    }
    .projectsHeroImageContainer {
        width: 100%;
        left: 0%;
        &::before {
            position: absolute;
            content: '';
            width: 50%;
            height: 50%;
            bottom: 0;
            right: -10%;
            background: #4B007D;
            z-index: -1;
        }
        &::after {
            position: absolute;
            content: '';
            width: 50%;
            height: 50%;
            bottom: -10%;
            left: 30%;
            background: #ff4081;
            z-index: -1;
        }
    }
    .projectsOverviewContainer {
        position: absolute;
        width: 55%;
        min-width: 300px;
        top: 75%;
        left: 50%;
        // right: -10%;
        padding: 15px $spacing-unit;
        border: 10px solid $c2;
    }
    .projectsOverview {
            &--btn {
            position: absolute;
            top: 100%;
            right: 0;
        }
    }
}

@media screen and (min-width: 1000px) {
    .projectsImage {
        position: relative;
        left: -153px;
        width: 1000px;
    }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
    text-align: center;
    padding-top: 80px;
    color: $heading-color;
    p {
        display: block;
        margin: 0;
    }
    .footerCopy {
        font-size: 2.50em;
        padding-top: $spacing-unit;
    }
    .footerBg {
        padding-bottom: 80px;
        background: url('../img/footer-flower.png') no-repeat;
        background-position: top center;
        background-size: 100% auto;
    }
}

@include media-min($sm) {
    footer {
        padding-top: 160px;
        .footerBg {
            padding-bottom: 160px;
        }
    }
}

.back {
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit / 2;
    z-index: 10;
    img {
        width: 25px;
        height: 25px;
    }
}

@include media-min($sm) {
    .back {
        left: $spacing-unit;
    }
}