

.btn {
    padding: 10px 15px;
    margin: 15px 15px 15px 0;
    font-weight: 700;
    color: $body-color;
    text-align: center;
    transition: box-shadow 0.2s ease;
    @extend .shadow-2;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $body-color;
        @extend .shadow-3;
    }
}

.btn-white {
    background: white;
}

.txt-white {
    color: $white-color;
}

.a-noStyle {
    color: $body-color;
    &:hover {
        text-decoration: none;
    }
}

/*------------------------------------*\
  #INDEX-PAGE
\*------------------------------------*/

.indexMainSplash {
    position: relative;
    height: 80vh;
    overflow: hidden;
    // background url('../img/me.svg')
    // background-size: cover;
    // background-position: center center;
    text-align: right;
    // padding: 160px 0;
}

#particles-js {
    position: absolute;
    display: block;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    background: transparent;
    background: linear-gradient(0deg, transparent, #f2f2f2);
    -webkit-transform: translateZ(0);
    ms-transform: translateZ(0);
    transform: translateZ(0); // increase animation performance
}

.indexMainSplash__heading {
    position: absolute;
    font-family: $body-font;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    text-align: center;
    z-index: 100;
    &::before {
        position: absolute;
        content: "Hi, I'm";
        top: -15px;
        left: 0;
        color: $grey-color;
        font-size: calc( 0.750em + 0.50vw );
    }
    h1 {
        display: inline-block;
        font-family: $header-font;
        font-size: calc( 3em + 2.50vw );

        color: #e6b0bb;
        white-space: nowrap;
        letter-spacing: -2px;

        margin: 0;
        // -moz-background: transparent;
        background: -webkit-linear-gradient( 92deg, #f6a995, #e6b0bb );
        // background: -moz-linear-gradient( 92deg, transparent, transparent );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08), 2px 2px 1px rgba(0, 0, 0, 0.075), 4px 4px 1px rgba(0, 0, 0, 0.07), 6px 6px 1px rgba(0, 0, 0, 0.065), 8px 8px 1px rgba(0, 0, 0, 0.06), 10px 10px 1px rgba(0, 0, 0, 0.055), 12px 12px 1px rgba(0, 0, 0, 0.05), 14px 14px 1px rgba(0, 0, 0, 0.045), 16px 16px 1px rgba(0, 0, 0, 0.04), 18px 18px 1px rgba(0, 0, 0, 0.035), 20px 20px 1px rgba(0, 0, 0, 0.03), 22px 22px 1px rgba(0, 0, 0, 0.025), 24px 24px 1px rgba(0, 0, 0, 0.02), 26px 26px 1px rgba(0, 0, 0, 0.015), 28px 28px 1px rgba(0, 0, 0, 0.01), 30px 30px 1px rgba(0, 0, 0, 0.005), 32px 32px 1px rgba(0, 0, 0, 0.0025), 34px 34px 1px rgba(0, 0, 0, 0.002), 36px 36px 1px rgba(0, 0, 0, 0.0015), 38px 38px 1px rgba(0, 0, 0, 0.001);
    }
    h2 {
        font-size: calc( 0.750em + 0.50vw );
        font-family: $body-font;
        color: $grey-color;
        line-height: 1.635;
        margin: 0;
    }
}

@include media-min($sm) {
    .index__text {
        h1 {
            font-size: calc( 4em + 2vw );
        }
    }
}


/*------------------------------------*\
  NEW LAYOUT
\*------------------------------------*/

header {
    position: absolute;
    width: 100%;
    padding: $spacing-unit / 2 0;
    z-index: 10;
    .headerLogo {
        text-align: left;
        img {
            max-width: 80px;
        }
    }
    .mainNav {
        text-align: center;
        z-index: 15;
    }
    .mainNav__ul {
        list-style: none;
        margin-bottom: 0;
        z-index: 20;
        .mainNav__li {
            display: inline-block;
            transition: box-shadow 0.15s cubic-bezier(.17,.67,.83,.67);
            &:not(:last-child) { margin-right: $spacing-unit; }
            .mainNav__li--title {
                display: block;
                padding-top: 5px;
                text-align: center;
                font-weight: 400;
                // text-transform: uppercase;
                font-size: 1em;
                color: $body-color;
            }
            &:nth-child(1) { .mainNav__li--img { background: $c1; }}
            &:nth-child(2) { .mainNav__li--img { background: $c2; }}
            &:nth-child(3) { .mainNav__li--img { background: $c3; }}
            .mainNav__li--img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                img {
                    width: 25px;
                    height: 25px;
                    padding: 10px;
                }

            }
            &:hover {
                .mainNav__li--img {
                    @extend .shadow-1-5;
                }
            }
        }
    }
}


.indexDescription {

}

.indexDescription__heading {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding: 80px 0;

    background: url('../img/flowers-slant.png');
    background-size: auto 120%;
    background-position: center center;
    background-repeat: no-repeat;
}

.indexDescription__heading--h3 {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@include media-min($sm) {
    header {
        padding: $spacing-unit 0;
        .mainNav {
            text-align: right;
        }   
    }
    .indexDescription__heading {
        padding: 160px 0;
    }
}

.indexProjects {
    padding-top: 80px;
}

.indexProjects__header {
    // margin-bottom: $spacing-unit;
    > div {
        padding: 0;
    }
}

.indexProjects__row {
    height: auto;
}

.indexProjects__right {
    padding: 0;
}

.indexProjects__main {
    // height: 100%;
    padding: 40px 0;
    background: linear-gradient(135deg, #FF4081, #4B007D);
}

.indexProjects__image--container {
    position: relative;
}

.indexProjects__title {
    position: relative;
}

.indexProjects__title--h2 {
    position: absolute;
    font-family: $body-font;
    font-weight: 700;
    transform: rotate(270deg);
    transform-origin: 90% 90%;
    text-align: right;
    white-space: nowrap;
    margin: 0;
    right: -0.50em;
}

.indexProjects__buttons {
    .btn {
        // display: block;
        max-width: 200px;
        // margin: 15px 15px 15px 0;
    }
}


.indexProjects__heading {
    
}

.indexProjects__image {
    position: relative;
    width: 100%;
    height: auto;
    margin: $spacing-unit 0;
}

.indexProjects__gallery {
    padding: 0;
    margin: $spacing-unit 0;
    > div {
        &:nth-last-child(1) {
            margin-top: $spacing-unit;
        }
    }
    img {
        width: 100%;
    }
}

@include media-min($sm) {
    .indexProjects {
        padding-top: 160px;
    }
    .indexProjects__main {
        padding: 80px 30px;
    }
    .indexProjects__image {
        position: absolute;
        top: -35%;
        transform: translateY(-35%);
        width: 95%;
        margin: 0 auto;
    }
    .indexProjects__gallery {
        > div {
            &:nth-child(1) {
                padding-left: 0;
                padding-right: 30px;
            }
            &:nth-last-child(1) {
                padding-right: 0;
                padding-left: 30px; 
                margin-top: 0;
            }
        }
    }
}

.indexProfile {
    //min-height: 50vh;
    padding-top: 60px;
    text-align: center;
}

.indexProfile__left {
    display: none;
}

.indexProfile__container {
    padding: 0;
}

.indexProfile__links {
    position: relative;
    height: 200%;
}

.indexProfile__box--container {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @extend .shadow-1;
    transition: box-shadow 0.15s cubic-bezier(.17,.67,.83,.67);
    &:hover {
        @extend .shadow-2;
    }
}

.indexProfile__box--codepen {
    background: linear-gradient(135deg, $c3,$c4);
}

.indexProfile__box--github {
    background: linear-gradient(135deg, $c1,$c2);
}

.indexProfile__box--soundcloud {
    background: linear-gradient(135deg, $heading-color,$body-color);
}

.indexProfile__box--content {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    img {
        width: 35px;
        height: 35px;
    }
}

.indexProfile__box--name {
    display: block;
}

@include media-min($sm) {
    .indexProfile {
        padding-top: 120px;
        text-align: left;
    }
    .indexProfile__left {
        display: block;
    }
    .indexProfile__box--container {
        width: 150px;
        height: 150px;
    }
    .indexProfile__box--content {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

footer {
    text-align: center;
    padding-top: 80px;
    color: $heading-color;
    p {
        display: block;
        margin: 0;
    }
    .footerCopy {
        font-size: 2.50em;
        padding-top: $spacing-unit;
    }
    .footerBg {
        padding-bottom: 80px;
        background: url('../img/footer-flower.png') no-repeat;
        background-position: top center;
        background-size: 100% auto;
    }
}

@include media-min($sm) {
    footer {
        padding-top: 160px;
        .footerBg {
            padding-bottom: 160px;
        }
    }
}